<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".InputAmount.InputAmountPerQRActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Merchant.WaitingForPurchaserPaymentActivity"
            android:label="@string/payment_completion"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Merchant.NFCpayMerchantActivity"
            android:label="@string/contactless_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".InputAmount.InputAmountActivity"
            android:label="@string/contactless_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PaymentSuccessfullActivity"
            android:label="@string/payment_completion"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConfirmPayment.ConfirmWithTokenActivity"
            android:label="@string/confirmation_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConfirmPayment.ConfirmActivity"
            android:label="@string/confirmation_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Merchant.SettingsMerchantActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Merchant.MerchantActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Purchaser.SettingsPurchaserActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Purchaser.QRpayPurchaserAcitivity"
            android:label="@string/contactless_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Purchaser.NFCpayPurchaserActivity"
            android:label="@string/contactless_payment"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PurchaserOrMerchantActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Password.PasswordEnterActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Password.PasswordMakeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Purchaser.PurchaserActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>